<div class="container-fluid">
    <div class="row RemoteLinkNav ">

    <div class="col" style="padding:5px 0 0 30px; ">
        <div class="AbiomedLogoNav"></div>
    </div>

       <!--Search--> 
        <form class="navbar-form form-inline" role="search" style="float:right;">
            <div class="input-group add-on">
                <input class="form-control" placeholder="Search case number" name="srch-term" id="srch-term" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-secondary" type="submit"><span class="fa fa-search SearchIcon"></span></button>
                </div>
            </div>
        </form>
      <!--Search--> 
     <!--COG-->
            <div ngbDropdown class="d-inline-block">
                <div class="CogDropdown" id="dropdownBasic1" ngbDropdownToggle><span class="fa fa-cog"></span></div>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
                    <div class="dropdown-item DropdownCog">Action - 1</div>
                    <div class="dropdown-item DropdownCog">Another Action</div>
                    <div class="dropdown-item DropdownCog">Something else is here</div>
                </div>
            </div>
      <!--COG-->  

    </div>
</div>