.RemoteLinkNav {
    height: 36px;
    background-color: #ffffff;
    border-bottom: .5px solid #cccccc;
    padding: 5px 0 20px 20px;
    webkit-box-shadow: 0px 2px 22px -6px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 2px 22px -6px rgba(0,0,0,0.34);
    box-shadow: 0px 2px 22px -6px rgba(0,0,0,0.34);
}

.AbiomedLogoNav {
    height: 25px;
    width: 100px;
    padding: 0 200px 0 40px;
    background: url(../../assets/images/AbiomedLogo.svg) no-repeat;
}



/*Boostrap Override*/
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto
}

.navbar {
    margin-top:0;
    padding-top:0;
}