<div class="container-fluid"><div class="row RemoteLinkNav">

    <div class="col AbiomedLogoNav">
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block" style="float:right">
            <button class="btn btn-secondary btn-sm" id="dropdownBasic1" ngbDropdownToggle><span class="fa fa-cog"></span></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
                <button class="dropdown-item DropdownCog">Action - 1</button>
                <button class="dropdown-item DropdownCog">Another Action</button>
                <button class="dropdown-item DropdownCog">Something else is here</button>
            </div>
        </div>
    </div>

</div>