<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wireless Remote Link</title>  
        <base href="/" />
        <script src="~/dist/shim.min.js"></script>
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        <script>document.msCapsLockWarningOff = true;</script>
        <script src="https://content.jwplatform.com/libraries/V8XhCJFq.js"></script>
        <!--<script src="~/dist/jwplayer.min.js"></script>        
        <script>jwplayer.key = "uKRuFyZbVRO2vqdgICcfAK+WZhFJS8LcMbBK8anMh/U=";</script>-->
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
