<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wireless Remote Link</title>  
        <base href="/" />        
        <meta name="format-detection" content="telephone=no" />
        <script src="~/dist/shim.min.js"></script>
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        <script>document.msCapsLockWarningOff = true;</script>
        <!--<script src="https://content.jwplatform.com/libraries/V8XhCJFq.js"></script>-->
        <script src="~/dist/jwplayer.js"></script>
        <script>jwplayer.key = "qjXIyWaUbqF0eo4cPBi6hgl+bURPiEKBfFsd8nOIkic=";</script>
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
