<div class="container-fluid LoginBody">
    <div class="row justify-content-md-center AbiomedLogoPadding row justify-content-md-center">
        <div class="FlexLogo">
            <div class="AbiomedLogo"></div>
        </div>
        <div class="FlexLogo"></div>
    </div>

    <div *ngIf="showResetMessage" class="row justify-content-md-center ">
        <div class="col-md-12 {{messageCSS}}">{{resetMessage}}</div>
    </div>

    <div class="row justify-content-md-center FillBackground d-flex align-items-stretch">

        <div class="FlexLogin">
            
            <form novalidate (ngSubmit)="ResetPasswordForm()" [formGroup]="passwordForm">
                <!-- New Password -->
                <div class="input-group-lg Input">
                    <input type="password" class="form-control" placeholder="New Password" aria-describedby="sizing-addon1"
                           required [(ngModel)]="password" formControlName="password">
                </div>
                  <!-- Verify Errors -->
                <div class="ErrorArrowBox" *ngIf="passwordForm.get('password').hasError('required') && passwordForm.get('password').touched">
                    Password is Required.
                </div>
                <div class="ErrorArrowBox" *ngIf="passwordForm.get('password').hasError('pattern') && passwordForm.get('password').touched && !passwordForm.get('password').hasError('required')">
                    Password does not match requirements.
                </div>
                <!-- Verify New Password -->
                <div class="input-group-lg Input">
                    <input (paste)="false" type="password" class="form-control" placeholder="Verify New Password" aria-describedby="sizing-addon1"
                           required [(ngModel)]="passwordVerify" formControlName="passwordVerify">
                </div>
                <!-- Verify Errors -->
                <div class="ErrorArrowBox" *ngIf="passwordForm.get('passwordVerify').hasError('required') && passwordForm.get('passwordVerify').touched">
                    Password is Required.
                </div>
                <div class="ErrorArrowBox" *ngIf="passwordForm.get('passwordVerify').hasError('pattern') && passwordForm.get('passwordVerify').touched && !passwordForm.get('passwordVerify').hasError('required')">
                    Password does not match requirements.
                </div>
                <div class="ErrorArrowBox" *ngIf="passwordForm.hasError('notSame') 
                     && passwordForm.get('password').touched && passwordForm.get('passwordVerify').touched
                     && !passwordForm.get('password').hasError('required') && !passwordForm.get('passwordVerify').hasError('required') 
                     && !passwordForm.get('password').hasError('pattern') && !passwordForm.get('passwordVerify').hasError('pattern') ">
                    Passwords do not match.
                </div>
                <div>                    
                     <input type="submit" class="btn btn-primary btn-block LoginButton" value="Submit" [ngClass]="{'cursor':passwordForm.valid}" [disabled]="!passwordForm.valid">                    
                </div>
            </form>
            
        </div>

        <div class="FlexIntro">
            <h1>
                Create a New Password
            </h1>
            <p>
                Mea essent gubergren cu. Per cu ponderum assueverit reprehendunt, ea aeterno lucilius reprimique eos. Inani simul torquatos id duo, has summo lobortis quaerendum ex, ex oratio dolorem reformidans duo. Cu has platonem expetenda qualisque. <a href="/">Return to Login Page</a>.
            </p>
            
        </div>

    </div>
    <footer class="fixed-bottom LoginFooter d-flex justify-content-center">
        <div class="AbiomedLogoFooter"></div>
        <div>&copy; 2017 Abiomed. All rights reserved | <a class="footer" href="http://www.abiomed.com" target="_blank">www.abiomed.com</a> | Terms and Conditions</div>
    </footer>
</div>

