<div class="container-fluid LoginBody">
    <div class="row justify-content-md-center AbiomedLogoPadding row justify-content-md-center">
        <div class="FlexLogo">
            <div class="AbiomedLogo"></div>
        </div>
        <div class="FlexLogo"></div>
    </div>

    <div *ngIf="loginError" class="row justify-content-md-center">
        <div class="col-md-12 ServerError">{{errorMessage}}</div>
    </div>

    <div class="row justify-content-md-center FillBackground d-flex align-items-stretch">

        <div class="FlexLogin">
            
            <form novalidate (ngSubmit)="LogIn(modal)" [formGroup]="loginForm">
                <!-- New Password -->
                <div class="input-group-lg Input">
                    <input type="password" class="form-control" placeholder="New Password" aria-describedby="sizing-addon1"
                           required [(ngModel)]="password" formControlName="password">
                </div>
                <!-- Verify New Password -->
                <div class="input-group-lg Input">
                    <input type="password" class="form-control" placeholder="Verify New Password" aria-describedby="sizing-addon1"
                           required [(ngModel)]="password" formControlName="password">
                </div>
                <!-- Verify Errors -->
                <div class="ErrorArrowBox" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
                    Passwords do not match.
                </div>

                <div>
                    
                     <input type="submit" class="btn btn-primary btn-block LoginButton" value="Submit" [ngClass]="{'cursor':loginForm.valid}" [disabled]="!loginForm.valid">
                    
                    </div>
            </form>
            
        </div>

        <div class="FlexIntro">
            <h1>
                Create a New Password
            </h1>
            <p>
                Mea essent gubergren cu. Per cu ponderum assueverit reprehendunt, ea aeterno lucilius reprimique eos. Inani simul torquatos id duo, has summo lobortis quaerendum ex, ex oratio dolorem reformidans duo. Cu has platonem expetenda qualisque. <a href="#">Return to Login Page</a>.
            </p>
            
        </div>

    </div>
    <footer class="fixed-bottom LoginFooter">
        &copy; 2017 Abiomed. All rights reserved | <a class="footer" href="http://www.abiomed.com" target="_blank">www.abiomed.com</a> | Terms and Conditions
    </footer>
</div>

