button {
    cursor:pointer;
}
body {
    background-color:red;
}
.AbiomedLogoModal {
    height: 25px;
    width: 150px;
    background: url(../../assets/images/AbiomedLogo.svg);
    background-repeat:no-repeat;
    margin-left:10px;
}
.ModalBody {
    max-height: 450px;
    overflow-y: auto;
}