body {
    min-height: 100vh;
    background-color:#ff0000;
}

.flex-grow {
    flex: 1;
}

button {
    cursor:pointer;
}

.AbiomedLogoModal {
    height: 40px;
    width: 175px;
    background: url(../../assets/images/AbioLogo2.svg);
    background-repeat:no-repeat;
    margin-left:5px;
}
*::-ms-backdrop, .AbiomedLogoModal {
    background-position: -22px 0;
}

.ModalBody {
    max-height: 450px;
    overflow-y: auto;
}
input[type=text]::-ms-clear {
    display: none;
}
input[password]::-ms-reveal {
    display: none;
}
.LoginFooter {
    background-color: #0E355A;
    color: #efefef;
    font-size: .8em;
    text-align: center;
}
.AbiomedLogoFooter {
    width: 20px;
    height: auto;
    padding: 0 0 25px 30px;
    margin-left: 20px;
    background: url(../../assets/images/AbioQuadsWhite.svg);
    background-repeat: no-repeat;
}