body {
    background-color:#efefef;
}
h1 {
    color: #69a1cc;
    font-size: 1.3em;
}

h2 {
    color: #69a1cc;
    font-size: 1.2em;
}

p {
    color: #555;
    font-size: .8em;
}
.MainContent {
    margin-top: 50px;
}