h1 {
    color: #69a1cc;
    font-size: 1.3em;
}

h2 {
    color: #69a1cc;
    font-size: 1.2em;
}
label {
    font-size:.8em;
    color:#555;
    font-weight:500;
}

p {
    color: #555;
    font-size: .8em;
}

.red {
    color:red;
}
.FormContainer 
{
    padding:10px;
}

.MainContent {
    margin-top: 50px;
}
.NewUserWell {
    border: .5px solid #ccc;
    margin: 10px 40px 20px 40px;
    border-radius: 10px;
}

.ResponseUserWell {
    border: .5px solid #ccc;
    margin: 10px 40px 0px 40px;
    border-radius: 10px;    
}

.Success {
    background-color: #99ff99;
    border: solid 2px #339933;
}

.AlreadyExist {
    background-color: #ffff99;
    border: solid 2px #CCCC00;
}

.Fail {
    background-color: #FFCCCC;
    border: solid 2px #CC3333;
}
.UserCreated {
    text-align:center;
    padding:10px;
}

.AddAbioUserForm {
    background-color: #efefef;
    border-radius: 0 10px 10px 0;
    padding: 20px 20px 10px 20px;
}
.NewUserIntro {
    padding: 20px 20px 10px 20px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .AddAbioUserForm {
        border-radius: 0 0 10px 10px;
    }
}

/* Error validation Styles */
.ErrorArrowBox {
    position: relative;
    background: #d81e1e;
    border: 1px solid #d81e1e;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: .8em;
    font-weight: 600;
    text-align: center;
    margin-top:-12px;
}

    .ErrorArrowBox:after, .ErrorArrowBox:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .ErrorArrowBox:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #d81e1e;
        border-width: 8px;
        margin-left: -8px;
    }

    .ErrorArrowBox:before {
        border-color: rgba(239, 239, 239, 0);
        border-bottom-color: #d81e1e;
        border-width: 9px;
        margin-left: -9px;
    }

.cursor {
    cursor: pointer;
}