<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="ConnectionManager" type="System.Configuration.NameValueSectionHandler" />
    <section name="OptionsManager" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
    
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="cat.log" traceOutputOptions="DateTime" />
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="ProcessId, DateTime" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-1.12.0.0" newVersion="1.12.0.0" />  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>

  <ConnectionManager>
    <add key="RUN" value="localhost" />
    <add key="WOWZA" value="rtmp://live-remotelink.channel.mediaservices.windows.net:1935/live/584ea49698714ec4872ba4db0b44fc61" />
    <add key="WEB" value="10.11.0.19" />
    <add key="RLR" value="10.11.0.12" />
    <add key="DocDBUri" value="https://abmd.documents.azure.com:443/" />
    <add key="DocDBPWD" value="7KA3x3At9kGf8ZGo98xHx7d3h1G3nZw7HqxY3FhQKnZdZayrkal7gIPMK9FKf39UisSUxcWdLAfkjtDRZhlXtQ==" />
    <add key="RedisConnect" value="abmd.redis.cache.windows.net, abortConnect=false,ssl=true,password=6sfN8jGyo0al+dMDdML4KMt0f59lCuqX0Wk9FJfxwPw=" />
    <add key="Security" value="false" />
  </ConnectionManager>
  <OptionsManager>
    <add key="KeepAliveTimer" value="600000" />
    <add key="CertKey" value="C:\Certs\RLR.abiomed.com\rlr.abiomed.com.pfx" />
    <add key="TcpPort" value="443" />
    <add key="ImageCountdownTimer" value="60000000" />
  </OptionsManager>
  <appSettings>
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
  </appSettings>
</configuration>