<div class="container-fluid LoginBody">
    <div class="row justify-content-md-center AbiomedLogoPadding row justify-content-md-center">
        <div class="FlexLogo">
            <div class="AbiomedLogo"></div>
        </div>
        <div class="FlexLogo"></div>
    </div>

    <div *ngIf="showForgotMessage" class="row justify-content-md-center ">
        <div class="col-md-12 {{messageCSS}}">{{forgotMessage}}</div>
    </div>

    <div class="row justify-content-md-center FillBackground d-flex align-items-stretch">

        <div class="FlexLogin">
            <form novalidate (ngSubmit)="ForgotPassword()" [formGroup]="forgotForm">
                <!-- Username -->
                <div class="input-group-lg Input">
                    <input type="text" class="form-control" placeholder="Username"
                           aria-describedby="sizing-addon1" id="username"
                           [(ngModel)]="username" formControlName="username">
                </div>
                <!-- Username Errors -->
                <div class="ErrorArrowBox" *ngIf="forgotForm.get('username').hasError('email') && forgotForm.get('username').touched">
                    Username not formatted correctly
                </div>
                <div>
                    <input type="submit" class="btn btn-primary btn-block LoginButton" value="Submit" [ngClass]="{'cursor':forgotForm.valid}" [disabled]="!forgotForm.valid">
                </div>
            </form>
        </div>

        <div class="FlexIntro">
            <h1>
                Forgot your Password?
            </h1>
            <p>
                To request a temporary password, please enter your Wireless Remote Link username and click Submit.
            </p>
            <p> <a [routerLink]="['/login']">Back to login page</a></p>

        </div>

    </div>
    <footer class="fixed-bottom LoginFooter d-flex justify-content-center">
        <div class="AbiomedLogoFooter"></div>
        <div>&copy; 2017 Abiomed. All rights reserved | <a class="footer" href="http://www.abiomed.com" target="_blank">www.abiomed.com</a> | Terms and Conditions</div>
    </footer>
</div>

