/* Base Overload - HTML Elements */
html, body {
    height: 100%
}

h1 {
    color: white;
    font-size: 1.3em;
}

p {
    color: white;
    font-size: .8em;
    font-weight: 200;
}

.LoginBody {
    height: 100vh;
    background-color: #0E355A;
}

::-webkit-input-placeholder {
    font-size: .8em;
    color: #ccc;
    text-transform: uppercase;
    text-transform: uppercase;
    text-align: center;
}

:-moz-placeholder { /* older Firefox*/
    font-size: .8em;
    color: #ccc;
    text-transform: uppercase;
    text-transform: uppercase;
    text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
    font-size: .8em;
    color: #ccc;
    text-transform: uppercase;
    text-transform: uppercase;
    text-align: center;
}

:-ms-input-placeholder {
    font-size: .8em;
    color: #ccc;
    text-transform: uppercase;
    text-transform: uppercase;
    text-align: center;
}

/* Bootstrap Overloads */
input-group-lg {
    text-align: center;
}

input:focus {
    text-align: center;
}

btn-info {
    background-color: #8f9aa8;
}

.modal-footer {
    background-color: #efefef;
}

/* Custom CSS */

.AbiomedLogoFooter {
    width: 20px;
    height: auto;
    padding: 0 0 25px 30px;
    margin-left: 20px;
    background: url(../../assets/images/AbioQuadsWhite.svg);
    background-repeat: no-repeat;
}
.AbiomedLogoPadding {
    padding: 150px 0 0 0;
    background-color: white;
}

.FlexLogo {
    width: 300px;
    margin: 20px;
}

.FlexLogin {
    width: 350px;
    margin: 20px;
}

.FlexIntro {
    width: 350px;
    margin: 15px;
}

.Tagline {
    text-align: right;
    width: 229px;
    font-size: 1em;
    color: #a40046;
    margin-right: 30px;
}

.AbiomedLogo {
    width: 300px;
    height: 90px;
    background: url(../../assets/images/AbioLogoTagline.svg) no-repeat;
    padding-bottom: 20px;
    background-position: 0 0;
    margin: 0 0 0 42px;
}

*::-ms-backdrop, .AbiomedLogo {
    background-position: -5px 0;
}

.NavBarLogin {
    background-color: #efefef;
    height: 40px;
}



.FillBackground {
    background-color: #0E355A;
    padding-top: 40px;
}

.Input {
    margin-bottom: 10px;
}

.LoginButton {
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: .25s box-shadow;
    transition: .25s box-shadow;
}

.ForgotPassword {
    margin-top: 20px;
    text-align: center;
    font-size: .8em;
}



.LoginFooter {
    background-color: #0E355A;
    color: #efefef;
    font-size: .8em;
    text-align: center;
}

.LoginModalText {
    color: black;
}



/* Error validation Styles */
.ErrorArrowBox {
    position: relative;
    background: #d81e1e;
    border: 1px solid #d81e1e;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: .8em;
    font-weight: 600;
    text-align: center;
}

    .ErrorArrowBox:after, .ErrorArrowBox:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .ErrorArrowBox:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #d81e1e;
        border-width: 8px;
        margin-left: -8px;
    }

    .ErrorArrowBox:before {
        border-color: rgba(239, 239, 239, 0);
        border-bottom-color: #d81e1e;
        border-width: 9px;
        margin-left: -9px;
    }

.ServerError {
    background-color: #ffd6d6;
    opacity: 1.0;
    text-align: center;
    color: #d81e1e;
    font-weight: 700;
    padding: 10px;
    font-size: .9em;
}


a.footer {
    color: #efefef;
}

.cursor {
    cursor: pointer;
}
