/* Base Overload - HTML Elements */
h1 {
    color: white;
    font-size: 1.3em;
}

p {
    color: white;
    font-size: .8em;
    font-weight:200;
}

/* Bootstrap Overloads */
input-group-lg {
    text-align: center;
}

btn-info {
    background-color: #8f9aa8;
}

/* Custom CSS */

.AbiomedLogoPadding {
    padding: 15vh 0 10vh 25vw;
    background-color: white;
}

.AbiomedLogo {
    height: 50px;
    width:300px;
    background: url(../../assets/images/AbiomedLogo.svg) no-repeat; 
    padding-bottom:20px;
}

.NavBarLogin {
    background-color: #efefef;
    height:40px;
}

.FillBackground {
    background-color: #0E355A;
    height: calc(80vh - 90px);
    padding-top: 20px;
}


.Input {
    margin-bottom: 10px;
}

.LoginButton {
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ForgotPassword {
    margin-top: 20px;
    text-align: center;
    font-size:.8em;
}

.LoginFooter {
    background-color: #0E355A;
    color: white;
    font-size: .8em;
    text-align:center;
}

.LoginModalText {
    color:black;
}