/* Base Overload - HTML Elements */
h1 {
    color: white;
    font-size: 1.3em;
}

p {
    color: white;
    font-size: .8em;
    font-weight:200;
}

/* Bootstrap Overloads */
input-group-lg {
    text-align: center;
}

btn-info {
    background-color: #8f9aa8;
}

/* Custom CSS */
.AbiomedLogoPadding {    
    padding: 50px 0 50px 0;
    background-color: white;
}

.AbiomedLogo {
    height: 50px;
    width:300px;
    background: url(../../assets/images/AbiomedLogo.svg) no-repeat; 
    padding-bottom:20px;
}

.NavBarLogin {
    background-color: #efefef;
    height:40px;
}

.FillBackground {
    background-color: #0E355A;
    /*height: calc(80vh - 70px);*/
    padding-top: 20px;
}

.Input {
    margin-bottom: 10px;
}

.LoginButton {
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;    
}

.ForgotPassword {
    margin-top: 20px;
    text-align: center;
    font-size:.8em;
}

.LoginFooter {
    background-color: #0E355A;
    color: #efefef;
    font-size: .7em;
    text-align:center;
}

.LoginModalText {
    color:black;
}

.Tagline {
    text-align: right;
    font-size: 1em;
    color: #910202;
    padding: 52px 70px 0 0;
}

/* Error validation Styles */
.ErrorArrowBox {
    position: relative;
    background: #d81e1e;
    border: 1px solid #d81e1e;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: .8em;
    font-weight: 600;
    text-align: center;
}

    .ErrorArrowBox:after, .ErrorArrowBox:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .ErrorArrowBox:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #d81e1e;
        border-width: 8px;
        margin-left: -8px;
    }

    .ErrorArrowBox:before {
        border-color: rgba(239, 239, 239, 0);
        border-bottom-color: #d81e1e;
        border-width: 9px;
        margin-left: -9px;
    }