<div class="row AbiomedLogoPadding">
    <div class="col-12 AbiomedLogo">  </div>
</div>
<div class="row NavBarLogin"></div>
<div class="row justify-content-md-center FillBackground">
    <div class="col-4">        
            <div class="input-group-lg Input">
                <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" id="username"
                       required minlength="4" maxlength="24" [(ngModel)]="username">                
            </div>
            <div class="input-group-lg Input">
                <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1"
                   required [(ngModel)]="password">
            </div>
            <div>
                <button (click)="LogIn()" class="btn btn-primary btn-block LoginButton">Log In</button>
            </div>
            <div class="ForgotPassword">
                <a href="">Forgot Password?</a>
            </div>        
    </div>
    <div class="col-5">
        <h1>
            Welcome to Wireless Remote Link
        </h1>
        <p>
            Mea essent gubergren cu. Per cu ponderum assueverit reprehendunt, ea aeterno lucilius reprimique eos. Inani simul torquatos id duo, has summo lobortis quaerendum ex, ex oratio dolorem reformidans duo. Cu has platonem expetenda qualisque. Homero integre deseruisse nec eu.
        </p>
    </div>
</div>
