.RemoteLinkFooter {
    height:35px;
    border-top:.5px solid #ccc;
    background-color:#fff;
}

.FooterInfo {
    font-size: .7em;
    color: #555;
}

.FooterMargin {
    margin-top: -5px
}

.AbiomedLogoFooter {
    width: 20px;
    height:auto;
    padding: 0 0 25px 30px;
    margin-left:20px;
    background: url(../../assets/images/AbioQuads.svg);
    background-repeat:no-repeat;
}