<div class="container-fluid flex-grow">
   <nav-menu></nav-menu>
   <sub-nav-menu></sub-nav-menu>
 <!--Top InfoBar-->
    <div class="row justify-content-center">
        <div class="col-10 CaseInfoBar" style="height:auto;">

            <div class="d-flex flex-wrap justify-content-between align-self-center ">
                <div class="CaseInfo"><span class="CaseInfoTitle">Impella SN:</span> {{case.value.pumpSerialNumber}}</div>
                <div class="CaseInfo"><span class="CaseInfoTitle">AIC SN:</span> {{case.value.aicSerialNumber}}</div>
                <div class="CaseInfo"><span class="CaseInfoTitle">Pump Type:</span> {{case.value.pumpType}}</div>
                <div class="CaseInfo"><span class="CaseInfoTitle">Connection:</span> {{case.value.connectionStartUtc | amDateFormat:'YYYY-MM-DD | HH:MM'}}</div>
                <div class="Trouble"><a href="#"><span class="fa fa-question-circle"></span> Troubleshooting Guide</a></div>

            </div>
        </div>
    </div>
<!-- MainContent -->
    <div class="row justify-content-center" style="min-height:400px;margin-top:20px;">
        <!--Video Player-->
        <div class="col-md-5">
            <div style="padding:8px;border-radius:3px;background-color:#fff;border:solid thin #ccc;">
                <div id="playerElement">

                </div>
            </div>
        </div>
       
        <!--Accordion Group-->
        <div class="col-md-5">
            <div style="padding:8px;border-radius:3px;background-color:#fff;border:solid thin #ccc;">
    <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="ALERT SUMMARY" class="HeaderLink">
            <ng-template ngbPanelContent>
                <div class="AlertSummary">
                    <div *ngFor="let alert of case.value.alertSummary" class="AlertInstance d-flex flex-wrap justify-content-left align-items-center">
                        <div class="AlertContainer"><div class="Alert{{alert.type}}"></div></div>
                        <div class="AlertCopy"><div>{{alert.time | amDateFormat:'YYYY-MM-DD | HH:MM'}} {{alert.message}}</div></div>
                    <!--Alert Instance-->
                    <div class="AlertInstance d-flex flex-wrap justify-content-left align-items-center">
                        <div class="AlertContainer">
                            <div class="AlertP"></div>
                             
                        </div>
                        <div class="AlertCopy"><div>[timestamp] [alert info] [plevel change, etc.]</div>
                    </div>
                    <!--Alert Instance
                    <div class="AlertInstance d-flex flex-wrap justify-content-left align-items-center">
                        <div class="AlertContainer"><div class="AlertRed"></div></div>
                        <div class="AlertCopy"><div>[timestamp] [alert info] [plevel change, etc.]</div></div>
                    </div>
                    -->
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-notes" title="NOTES" [disabled]="true">
            <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
            </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-reports" title="REPORTS" [disabled]="true">
            <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 Timeline">                          
        </div>
    </div>
 
    </div>
<footer-menu></footer-menu>