<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div ng-repeat="device in devices.Devices track by $index" class="Card">
                    <div class="CardL1">
                        <div class="CardLevelLeft1" ng-click="devices.Settings(device)"></div>
                        <div class="CardLevelRight1 SerialText">{{device.SerialNumber}}</div>
                    </div>
                    <div class="CardL2">
                        <div class="CardLevelLeft2"></div>
                        <div class="CardLevelRight2 BearerText">{{device.Bearer}}</div>
                    </div>
                    <div class="CardL2">
                        <div class="CardLevelLeft3" ng-click="devices.ShowImages(device)"></div>
                        <div class="CardLevelRight3 BearerText">{{device.ConnectionTime}}</div>
                    </div>
                    <div class="CardL1">
                        <div class="CardLevelLeft4">
                            <img class="Camera" ng-click="devices.Enlarge(device)" src="../../../Content/Images/video_camera_icon.png" />
                            <i ng-click="devices.ShowImages(device)" class="Image fa fa-picture-o fa-3x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>