<i class='fa fa-{{connectionType}} fa-3x ModalConnectionTypeLogo' aria-hidden='true'></i>
<h3 class='text-center'>{{RLMSerial}} - {{start}}</h3><hr>
<div class="row" style="text-align: center;padding: 10px;">
    <div class="col-xs-12" style="padding: 10px;">
        <button ng-click="KeepAliveClick()" type="button" class="btn btn-primary">Send Keep Alive</button>
    </div>
    <br />
    <div class="col-xs-12" style="padding: 10px;">
        <button ng-click="StartVideoClick()" type="button" class="btn btn-primary">Start Sending Video</button>
        <button ng-click="StopVideoClick()" type="button" class="btn btn-danger">Stop Sending Video</button>
    </div>
    <br />
    <div class="col-xs-12" style="padding: 10px;">
        <button ng-click="StartImageClick()" type="button" class="btn btn-primary">Start Image Capture</button>
        <button ng-click="StopImageClick()" type="button" class="btn btn-danger">Stop Image Capture</button>
    </div>
    <br />

    <div class="col-xs-12" style="padding: 10px;">
        <button ng-click="RLRLogClick()" type="button" class="btn btn-primary">Get RLR Logs</button>
        <pre>{{RLRLog}}</pre>
    </div>
    <br />
    <div class="col-xs-12" style="padding: 10px;">
        <button ng-click="RLRCloseSession()" type="button" class="btn btn-primary">Close Session Indication</button>       
    </div>
    <br />
    <div class="col-xs-12" style="padding:10px -10px;">
        <pre>Update Bearer: {{radioModel || 'null'}}</pre>
        <div class="btn-group">
            <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Ethernet'">Ethernet</label>
            <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Wifi24Ghz'" >Wifi 2.4Ghz</label>
            <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Wifi5Ghz'">Wifi 5Ghz</label>
            <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'LTE'">LTE</label>
        </div>
        <button type="button" class="btn btn-success" ng-click="UpdateBearerClick()">Update</button>
    </div>
    <div>
        <pre>Update Bearer Selection: {{BearerSelection}}</pre>
        <select ng-model="BearerSelected" ng-options="x for x in BearerSelectionList"></select>
        <button ng-click="AddBearer()">Add</button>
        <button ng-show="EnableBearer==true" ng-click="UpdateBearerPriority()">Update</button>
    </div>
    <br />
    <br />
    <div class="col-xs-12" style="padding:10px -10px;">
        <button type="button" class="btn btn-success" ng-click="GetAuthInfoClick()">Read Authentication Info</button>
        <table class="table">
            <thead style="font-weight: bold;">
                <tr>
                    <td>Slot</td>
                    <td>Bearer</td>                    
                    <td>Authentication Type</td>
                    <td>SSID</td>                    
                    <td>PSK</td>   
                    <td>Create/Update</td>                    
                    <td>Delete</td>                 
                </tr>
            </thead>
            <tbody>              
                <tr ng-repeat="authorization in AuthorizationList.bearerInfoList track by $index">
                    <td><input style="width:75px;" type="text" name="Slot" value="{{authorization.Slot}}"></td>
                    <td>WiFi</td>
                    <td><select ng-model="authorization.BearerAuthInformation.BearerType" ng-options="x for x in AuthTypes"></select></td>
                    <td><input style="width:75px;" type="text" name="SSID" ng-model="authorization.BearerAuthInformation.SSID" ></td>
                    <td><input style="width:75px;" type="password" name="PSK" ng-model="authorization.BearerAuthInformation.PSK"></td>
                    <td><button ng-click="CreateCredential(authorization)" type="button" class="btn btn-primary">Create/Update</button></td>
                    <td><button ng-click="DeleteCredential(authorization)" type="button" class="btn btn-danger">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
