<div class="container-fluid">
   <nav-menu></nav-menu>
   <sub-nav-menu></sub-nav-menu>
    <div class="row">
        <div class="col">
            <div class="d-flex flex-wrap justify-content-center">
                <div *ngFor="let case of cases" class="p-2" [routerLink]="['/summary']">
                    <a [routerLink]="['/case', case.key]" class="test">
                        <div class="card2">
                            <div class="SummaryTop d-flex justify-content-between">
                                <!-- InfoContainer -->
                                <div class="InfoContainer  d-flex justify-content-between">
                                    <!-- Impella SN -->
                                    <div class="ImpellaSN">
                                        <p class="InfoTitle">Impella SN</p>
                                        <p class="InfoData">{{case.value.pumpSerialNumber}}</p>
                                    </div>
                                    <!-- Pump Type -->
                                    <div class="PumpType">
                                        <p class="InfoTitle">Pump Type</p>
                                        <p class="InfoData">{{case.value.pumpType}}</p>
                                    </div>
                                    <!-- Bed Number -->
                                    <div class="UserInput">
                                        <p class="InfoTitle"></p>
                                        <p class="InfoData"></p>
                                    </div>
                                </div>
                                <!-- playButton -->
                                <div class="play-button-outer">
                                    <div class="play-button"></div>
                                </div>
                            </div>
                            <!-- LEDs -->
                            <div class="LedBackground d-flex justify-content-around">
                                <div class="led-{{case.value.alarm1.type}}"></div>
                                <div class="led-{{case.value.alarm2.type}}"></div>
                                <div class="led-{{case.value.alarm3.type}}"></div>
                            </div>
                            <!-- END LEDs -->
                            <!-- RLM INFO -->
                            <div class="RLMInfoMain d-flex justify-content-between">
                                <div class="ImpellaFlow">
                                    <div class="InfoTitle">Impella Flow</div>
                                    <div class=" d-flex justify-content-between">
                                        <div class="MaxMinCell">
                                            <div class="MaxMinValues">{{case.value.impellaFlow.max}} <span class="MaxMinSmall">Max</span></div>
                                            <div class="MaxMinValues">{{case.value.impellaFlow.min}} <span class="MaxMinSmall">Min</span></div>
                                        </div>
                                        <div>
                                            <div class="LMin">{{case.value.impellaFlow.avg}}<span class="MaxMinSmall">L/min</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="PLevel">
                                    <div class="InfoTitle">P-Level</div>
                                    <div class="LMin">{{case.value.performanceLevel}}</div>
                                </div>
                            </div>
                            <div class="LastUpdate">Last updated: {{case.value.lastActiveUtc | amTimeAgo}}</div>
                        </div>
                    </a>
                </div>














              
            </div>
        </div>
    </div>
  <footer-menu></footer-menu>
</div>
