<nav-menu></nav-menu>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="color:#69a1cc">New User Enrollment</h1>
                <div class="row"  class="row" style="border:.5px solid #ccc;padding:25px;border-radius:5px;margin:10px 0;">
                    <div class="col-8 col-sm-6">
                        <h2 style="color:#69a1cc">Remote Link Hospital Contact</h2>
                        <p style="color:#555">Sed pretium tempus ultrices. Proin pellentesque mattis justo in tempor. Curabitur pulvinar, nisl id volutpat interdum, ante velit elementum ipsum, et condimentum tortor nibh a leo.</p>
                        <form class="FormContainer form-group" style="padding:10px;">
                            <div class="row no-gutters">
                               
                                    <div class="col col-4" style="padding:2px;"><input class="form-control form-control-sm" type="text" placeholder="First Name">
                                    </div>
                                    <div class="col col-6" style="padding:2px;">
                                    <input class="form-control form-control-sm" type="text" placeholder="Last Name">
                                    </div>
                                <div class="col col-2" style="padding:2px;">
                                    <input class="form-control form-control-sm" type="text" placeholder="MI">
                                </div>
                             </div>
                            <div class="row no-gutters">

                                <div class="col" style="padding:2px;">
                                    <input class="form-control form-control-sm" type="text" placeholder="Phone Number">
                                </div>
                                <div class="col" style="padding:2px;">
                                    <input class="form-control form-control-sm" type="text" placeholder="Email Address">
                                </div>
                                
                            </div>
                            <div class="row no-gutters">

                                <div class="col" style="padding:2px;">
                                    <input class="form-control form-control-sm" type="text" placeholder="Name of Institution">
                                </div>
                                <div class="col col-2" style="padding:2px;"> 
                                    <input class="form-control form-control-sm" type="text" placeholder="State">
                                </div>

                            </div>

                               
                        </form>
                    
                    </div>
                    <div class="col-4 col-sm-6">
                        <h2 style="color:#69a1cc">Additional Remote Link Users</h2> 
                        <p style="color:#555">Sed pretium tempus ultrices. Proin pellentesque mattis justo in tempor. Curabitur pulvinar, nisl id volutpat interdum, ante velit elementum ipsum, et condimentum tortor nibh a leo.</p>

                    </div>
                </div>
        </div>
    </div>
</div>
<footer class="fixed-bottom">Footer</footer>




