<div class="container-fluid">
    <nav-menu></nav-menu>
    <div class="container">
        <div class="col-sm-12 MainContent">
            <div class="DeviceManagementHeader Header"><h1><span class="DeviceHeaderIcon"></span>DEVICE MANAGEMENT</h1></div>
            <!--Intro -->
            <div class="row p-2">
                <div class="col-md-12">
                    <!--Morbi sit amet enim vel erat molestie luctus. In porttitor sagittis tincidunt. Morbi non enim blandit, cursus ligula a, cursus neque. Nullam blandit et purus nec consequat. Nunc faucibus euismod eros, eu aliquam nunc rutrum vitae. -->
                </div>
                
            </div>
            <!--Add New User Panel-->
            <div class="row">
                <div class="col-md-12">
                    <div *ngIf="created" class="row ResponseUserWell {{creationStatus}}">
                        <div class="col-md-12">
                            <div class="UserCreated">{{creationResponse}}</div>
                        </div>
                    </div>
                    <!--Device Management-->
                    
                </div>
            </div>

           
            <!--Device Table -->
           
            
                
                    <div class="row justify-content-end" style="margin:5px;">
                        <button type="button" class="btn btn-sm" (click)="isCollapsed = !isCollapsed"
                                [attr.aria-expanded]="!isCollapsed" aria-controls="NgbdCollapseBasic">
                            Add a Device
                        </button>
                    </div>
                    <div id="NgbdCollapseBasic" [ngbCollapse]="isCollapsed">
                        <div class="card">
                            <div class="row NewUserWell">
                                <div class="col-md-4 NewUserIntro">
                                    <h2>Register a new device

</h2>
                                    <p style="font-size:1em;">Please complete all required fields to add a new Wireless Remote Link device.
                                        <br /><strong><span class="red">*</span> Required field.</strong></div>
                                <div class="col-md-8 AddAbioUserForm">
                                    <form novalidate class="FormContainer form-group" (ngSubmit)="Register()" [formGroup]="createForm">
                                        <!-- RLM Serial Number -->
                                        <div style="border-bottom:1px dotted #fff" class="justify-content-end">
                                            <div class="form-group row justify-content-between">
                                                <label for="example-text-input" class="col-5 col-form-label" style="font-size:1.1em">RLM Serial Number: <span class="red">*</span></label>
                                                <span style="margin-right:10px;font-size:1.2em;font-weight:bold;">RL</span><input class="form-control col-6" (keypress)="_keyPress($event)" maxlength="5" type="text" value="" (drop)="_drop($event)" [(ngModel)]="rlmsn" formControlName="rlmsn">
                                            </div>
                                            <!-- RLM Serial Number Errors -->
                                            <div class="ErrorArrowBox  offset-5 col-7" *ngIf="createForm.get('rlmsn').hasError('required') && createForm.get('rlmsn').touched">
                                                RLM Serial Number is required.
                                            </div>
                                        </div>
                                        <!-- RLM Serial Number END -->
                                       
                                            <!-- RLM Password -->
                                        <div style="border-bottom:1px dotted #fff; padding-top:10px;">
                                            <div class="form-group row justify-content-between">
                                                <label for="example-text-input" class="col-5 col-form-label" style="font-size:1.1em">RLM Password: <span class="red">*</span></label>
                                                <input class="form-control col-7" (keypress)="_keyPress($event)" maxlength="5" type="text" value="" (drop)="_drop($event)" [(ngModel)]="rlmpw" formControlName="rlmpw">
                                            </div>
                                            <!-- RLM Password -->
                                            <div class="ErrorArrowBox  offset-5 col-7 justify-content-end" *ngIf="createForm.get('rlmpw').hasError('required') && createForm.get('rlmpw').touched">
                                                RLM PasswordS is required.
                                            </div>
                                        </div>
                                        <!-- RLM Password END -->
                                        <!-- Institution -->
                                        <div style="border-bottom:1px dotted #fff; padding-top:10px;">
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-5 col-form-label" style="font-size:1.1em">Institution:<span class="red">*</span></label>
                                                <select class="form-control col-7" [(ngModel)]="GetInstitutions" formControlName="institution">
                                                    <option style="padding:5px 0" *ngFor="let item of institutions" value="{{item.Id}}">{{item.DisplayName}}</option>

                                                </select>
                                            </div>

                                            <!-- Institution Errors -->
                                            <div class="ErrorArrowBox  offset-5 col-7 justify-content-between" *ngIf="createForm.get('institution').hasError('required') && createForm.get('institution').touched">
                                                You must select an Institution.
                                            </div>
                                        </div>
                                        <!-- AIC Serial Number -->
                                        <div style="border-bottom:1px dotted #fff; padding-top:10px;">
                                            <div class="form-group row">
                                                <label for="example-email-input" class="col-5 col-form-label" style="font-size:1.1em">AIC Serial Number: <span class="red">*</span></label>
                                                <input class="form-control col-7" maxlength="5" type="text" [(ngModel)]="aicserialnumber" formControlName="aicserialnumber">
                                            </div>
                                            <!-- AIC Serial Number Errors -->
                                            <div class="ErrorArrowBox offset-5 col-7 justify-content-between" *ngIf="createForm.get('aicserialnumber').hasError('required') && createForm.get('aicserialnumber').touched">
                                                AIC Serial Number is required.
                                            </div>
                                        </div>
                                        <!-- AIC Software Number -->
                                        <div style="padding-top:10px;">
                                            <div class="form-group row">
                                                <label for="example-email-input" class="col-5 col-form-label" style="font-size:1.1em">AIC Software Number: <span class="red">*</span></label>
                                                <input class="form-control col-7" maxlength="5" type="text" [(ngModel)]="aicsoftwarenumber" formControlName="aicsoftwarenumber">
                                            </div>
                                            <!-- AIC Software Number Errors -->
                                            <div class="ErrorArrowBox offset-5 col-7 justify-content-between" *ngIf="createForm.get('aicsoftwarenumber').hasError('required') && createForm.get('aicsoftwarenumber').touched">
                                                AIC Software Number is required.
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 d-flex flex-row-reverse" style="padding-top:10px;">
                                                <input type="submit" class="btn btn-primary btn align-self-end" value="ADD DEVICE" [disabled]="!createForm.valid" [ngClass]="{'cursor':createForm.valid}">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <div style="border:1px solid #ccc;padding:5px;background-color:#fff;">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                RLM Serial Number
                            </th>
                            <th>
                                RLM Password
                            </th>
                            <th>
                                Institution
                            </th>
                            <th>
                                AIC Serial Number
                            </th>
                            <th>
                                AIC Software Number
                            </th>
                        </tr>
                        <tr *ngFor="let item of records">
                            <td>{{item.RLMSerialNo}}</td>
                            <td>{{item.RLMPassWord}}</td>
                            <td>{{item.Institution}}</td>
                            <td>{{item.AICSerialNo}}</td>
                            <td>{{item.AICSoftwareNo}}</td>
                        </tr>
                    </table>
                </div>
                
            </div>
                
            
        </div>
    
</div>
<footer-menu></footer-menu>